@media (min-width: 992px) {
    #chiken_menu { 
        float: left;
width: 27%;
    }
    #beef_menu{
        float: left;
        width: 27%;
    }
    #sushi_menu{
        float: left;
        width: 27%;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    #chiken_menu { 
       
width: 40%;
    }
    #beef_menu{
       
        width: 40%;
    }
    #sushi_menu{
        
        width: 80%;
    }
}
@media (max-width: 767px)  {
    #chiken_menu { 
        
width: 90%;
    }
    #beef_menu{
       
        width: 90%;
    }
    #sushi_menu{
        
        width: 90%;
    }
    }
